<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Munich Airport</string>
		<key>country</key>
		<string>Germany</string>
		<key>IATA</key>
		<string>MUC</string>
		<key>imageName</key>
		<string>MUC.jpg</string>
		<key>servedCity</key>
		<string>Munich</string>
		<key>shortName</key>
		<string>Munich Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kuala Lumpur International Airport</string>
		<key>country</key>
		<string>Malaysia</string>
		<key>IATA</key>
		<string>KUL</string>
		<key>imageName</key>
		<string>KUL.jpg</string>
		<key>servedCity</key>
		<string>Kuala Lumpur</string>
		<key>shortName</key>
		<string>Kuala Lumpur Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Washington Dulles International Airport</string>
		<key>country</key>
		<string>United States</string>
		<key>IATA</key>
		<string>IAD</string>
		<key>imageName</key>
		<string>IAD.jpg</string>
		<key>servedCity</key>
		<string>Washington D.C.</string>
		<key>shortName</key>
		<string>Washington Dulles Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>George Bush Intercontinental Airport</string>
		<key>country</key>
		<string>United States</string>
		<key>IATA</key>
		<string>IAH</string>
		<key>imageName</key>
		<string>IAH.jpg</string>
		<key>servedCity</key>
		<string>Houston</string>
		<key>shortName</key>
		<string>George Bush Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chicago O&apos;Hare International Airport</string>
		<key>country</key>
		<string>United States</string>
		<key>IATA</key>
		<string>ORD</string>
		<key>imageName</key>
		<string>ORD.jpg</string>
		<key>servedCity</key>
		<string>Chicago</string>
		<key>shortName</key>
		<string>O&apos;Hare Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Taipei Songshan Airport</string>
		<key>country</key>
		<string>Taiwan</string>
		<key>IATA</key>
		<string>TSA</string>
		<key>imageName</key>
		<string>TSA.jpg</string>
		<key>servedCity</key>
		<string>Taipei</string>
		<key>shortName</key>
		<string>Songshan Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sydney Airport</string>
		<key>country</key>
		<string>Australia</string>
		<key>IATA</key>
		<string>SYD</string>
		<key>imageName</key>
		<string>SYD.jpg</string>
		<key>servedCity</key>
		<string>Sydney</string>
		<key>shortName</key>
		<string>Sydney Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vancouver International Airport</string>
		<key>country</key>
		<string>Canada</string>
		<key>IATA</key>
		<string>YVR</string>
		<key>imageName</key>
		<string>YVR.jpg</string>
		<key>servedCity</key>
		<string>Vancouver</string>
		<key>shortName</key>
		<string>Vancouver Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Toronto Pearson International Airport</string>
		<key>country</key>
		<string>Canada</string>
		<key>IATA</key>
		<string>YYZ</string>
		<key>imageName</key>
		<string>YYZ.jpg</string>
		<key>servedCity</key>
		<string>Toronto</string>
		<key>shortName</key>
		<string>Toronto Pearson Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beijing Capital International Airport</string>
		<key>country</key>
		<string>China</string>
		<key>IATA</key>
		<string>PEK</string>
		<key>imageName</key>
		<string>PEK.jpg</string>
		<key>servedCity</key>
		<string>Beijing</string>
		<key>shortName</key>
		<string>Beijing Capital Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shanghai Pudong International Airport</string>
		<key>country</key>
		<string>China</string>
		<key>IATA</key>
		<string>PVG</string>
		<key>imageName</key>
		<string>PVG.jpg</string>
		<key>servedCity</key>
		<string>Shanghai</string>
		<key>shortName</key>
		<string>Pudong Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chongqing Jiangbei International Airport</string>
		<key>country</key>
		<string>China</string>
		<key>IATA</key>
		<string>CKG</string>
		<key>imageName</key>
		<string>CKG.jpg</string>
		<key>servedCity</key>
		<string>Chongqing</string>
		<key>shortName</key>
		<string>Jiangbei Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Paris Charles de Gaulle Airport</string>
		<key>country</key>
		<string>France</string>
		<key>IATA</key>
		<string>CDG</string>
		<key>imageName</key>
		<string>CDG.jpg</string>
		<key>servedCity</key>
		<string>Paris</string>
		<key>shortName</key>
		<string>Charles de Gaulle Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Frankfurt Airport</string>
		<key>country</key>
		<string>Germany</string>
		<key>IATA</key>
		<string>FRA</string>
		<key>imageName</key>
		<string>FRA.jpg</string>
		<key>servedCity</key>
		<string>Frankfurt am Main</string>
		<key>shortName</key>
		<string>Frankfurt Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hong Kong International Airport</string>
		<key>country</key>
		<string>Hong Kong</string>
		<key>IATA</key>
		<string>HKG</string>
		<key>imageName</key>
		<string>HKG.jpg</string>
		<key>servedCity</key>
		<string>Hong Kong</string>
		<key>shortName</key>
		<string>Hong Kong Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Narita International Airport</string>
		<key>country</key>
		<string>Japan</string>
		<key>IATA</key>
		<string>NRT</string>
		<key>imageName</key>
		<string>NRT.jpg</string>
		<key>servedCity</key>
		<string>Tokyo</string>
		<key>shortName</key>
		<string>Narita Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Haneda International Airport</string>
		<key>country</key>
		<string>Japan</string>
		<key>IATA</key>
		<string>HND</string>
		<key>imageName</key>
		<string>HND.jpg</string>
		<key>servedCity</key>
		<string>Tokyo</string>
		<key>shortName</key>
		<string>Haneda Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kansai International Airport</string>
		<key>country</key>
		<string>Japan</string>
		<key>IATA</key>
		<string>KIX</string>
		<key>imageName</key>
		<string>KIX.jpg</string>
		<key>servedCity</key>
		<string>Osaka</string>
		<key>shortName</key>
		<string>Kansai Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chubu Centrair International Airport</string>
		<key>country</key>
		<string>Japan</string>
		<key>IATA</key>
		<string>NGO</string>
		<key>imageName</key>
		<string>NGO.jpg</string>
		<key>servedCity</key>
		<string>Nagoya</string>
		<key>shortName</key>
		<string>Chubu Centrair Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Naha Airport</string>
		<key>country</key>
		<string>Japan</string>
		<key>IATA</key>
		<string>OKA</string>
		<key>imageName</key>
		<string>OKA.jpg</string>
		<key>servedCity</key>
		<string>Naha, Okinawa</string>
		<key>shortName</key>
		<string>Naha Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>New Chitose Airport</string>
		<key>country</key>
		<string>Japan</string>
		<key>IATA</key>
		<string>CTS</string>
		<key>imageName</key>
		<string>CTS.jpg</string>
		<key>servedCity</key>
		<string>Sapporo</string>
		<key>shortName</key>
		<string>New Chitose Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Amsterdam Airport Schiphol</string>
		<key>country</key>
		<string>Netherlands</string>
		<key>IATA</key>
		<string>AMS</string>
		<key>imageName</key>
		<string>AMS.jpg</string>
		<key>servedCity</key>
		<string>Amsterdam</string>
		<key>shortName</key>
		<string>Amsterdam Airport Schiphol</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Changi International Airport</string>
		<key>country</key>
		<string>Singapore</string>
		<key>IATA</key>
		<string>SIN</string>
		<key>imageName</key>
		<string>SIN.jpg</string>
		<key>servedCity</key>
		<string>Singapore</string>
		<key>shortName</key>
		<string>Changi Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Incheon International Airport</string>
		<key>country</key>
		<string>South Korea</string>
		<key>IATA</key>
		<string>ICN</string>
		<key>imageName</key>
		<string>ICN.jpg</string>
		<key>servedCity</key>
		<string>Seoul</string>
		<key>shortName</key>
		<string>Incheon Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Taiwan Taoyuan International Airport</string>
		<key>country</key>
		<string>Taiwan</string>
		<key>IATA</key>
		<string>TPE</string>
		<key>imageName</key>
		<string>TPE.jpg</string>
		<key>servedCity</key>
		<string>Taipei</string>
		<key>shortName</key>
		<string>Taiwan Taoyuan Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kaohsiung International Airport</string>
		<key>country</key>
		<string>Taiwan</string>
		<key>IATA</key>
		<string>KHH</string>
		<key>imageName</key>
		<string>KHH.jpg</string>
		<key>servedCity</key>
		<string>Kaohsiung</string>
		<key>shortName</key>
		<string>Kaohsiung Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Suvarnabhumi Airport</string>
		<key>country</key>
		<string>Thailand</string>
		<key>IATA</key>
		<string>BKK</string>
		<key>imageName</key>
		<string>BKK.jpg</string>
		<key>servedCity</key>
		<string>Bangkok</string>
		<key>shortName</key>
		<string>Suvarnabhumi Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>London Heathrow Airport</string>
		<key>country</key>
		<string>United Kingdom</string>
		<key>IATA</key>
		<string>LHR</string>
		<key>imageName</key>
		<string>LHR.jpg</string>
		<key>servedCity</key>
		<string>London</string>
		<key>shortName</key>
		<string>London Heathrow Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>San Francisco International Airport</string>
		<key>country</key>
		<string>United States</string>
		<key>IATA</key>
		<string>SFO</string>
		<key>imageName</key>
		<string>SFO.jpg</string>
		<key>servedCity</key>
		<string>San Francisco, CA</string>
		<key>shortName</key>
		<string>San Francisco Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Los Angeles International Airport</string>
		<key>country</key>
		<string>United States</string>
		<key>IATA</key>
		<string>LAX</string>
		<key>imageName</key>
		<string>LAX.jpg</string>
		<key>servedCity</key>
		<string>Log Angeles, CA</string>
		<key>shortName</key>
		<string>Los Angeles Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>John F. Kennedy International Airport</string>
		<key>country</key>
		<string>United States</string>
		<key>IATA</key>
		<string>JFK</string>
		<key>imageName</key>
		<string>JFK.jpg</string>
		<key>servedCity</key>
		<string>New York, NY</string>
		<key>shortName</key>
		<string>John F. Kennedy Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Seattle Tacoma International Airport</string>
		<key>country</key>
		<string>United States</string>
		<key>IATA</key>
		<string>SEA</string>
		<key>imageName</key>
		<string>SEA.jpg</string>
		<key>servedCity</key>
		<string>Seattle, WA</string>
		<key>shortName</key>
		<string>Seattle Tacoma Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hartsfield-Jackson Atlanta International Airport</string>
		<key>country</key>
		<string>United States</string>
		<key>IATA</key>
		<string>ATL</string>
		<key>imageName</key>
		<string>ATL.jpg</string>
		<key>servedCity</key>
		<string>Atlanta, GA</string>
		<key>shortName</key>
		<string>Atlanta Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Detroit Metropolitan Wayne County Airport</string>
		<key>country</key>
		<string>United States</string>
		<key>IATA</key>
		<string>DTW</string>
		<key>imageName</key>
		<string>DTW.jpg</string>
		<key>servedCity</key>
		<string>Detroit, MI</string>
		<key>shortName</key>
		<string>Detroit Metro Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sheremetyevo International Airport</string>
		<key>country</key>
		<string>Russia</string>
		<key>IATA</key>
		<string>SVO</string>
		<key>imageName</key>
		<string>SVO.jpg</string>
		<key>servedCity</key>
		<string>Moscow</string>
		<key>shortName</key>
		<string>Sheremetyevo Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Domodedovo International Airport</string>
		<key>country</key>
		<string>Russia</string>
		<key>IATA</key>
		<string>DME</string>
		<key>imageName</key>
		<string>DME.jpg</string>
		<key>servedCity</key>
		<string>Moscow</string>
		<key>shortName</key>
		<string>Domodedovo Int&apos;l Airport</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Edinburgh Airport</string>
		<key>country</key>
		<string>United Kingdom</string>
		<key>IATA</key>
		<string>EDI</string>
		<key>imageName</key>
		<string>EDI.jpg</string>
		<key>servedCity</key>
		<string>Edinburgh</string>
		<key>shortName</key>
		<string>Edinburgh Airport</string>
	</dict>
</array>
</plist>
